<div class="m-4 flex flex-col rounded-sm bg-white p-4 shadow-sm">
  <div class="flex flex-col items-start justify-center">
    <div class="mb-2 font-bold text-red-500">
      <div class="inline-flex items-center text-xs">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="mr-1 h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
        <span> Question </span>
      </div>
    </div>
    <div>
      {{QUESTION}}
    </div>
  </div>
</div>
<div class="m-4 flex flex-col rounded-sm bg-white p-4 shadow-sm">
  <div class="flex flex-col items-start justify-center">
    <div class="mb-2 font-bold text-anki-blue">
      <div class="inline-flex items-center text-xs">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="mr-1 h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
        <span> Answer </span>
      </div>
    </div>
    <div>
      {{ANSWER}}
    </div>
  </div>
</div>
{{#EXTRA}}
<div class="m-4 flex flex-col rounded-sm bg-white p-4 shadow-sm">
  <div class="flex flex-col items-start justify-center">
    <div class="mb-2 font-bold text-amber-500">
      <div class="inline-flex items-center text-xs">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="mr-1 h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"
            />
            <path
              fill-rule="evenodd"
              d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
        <span> Notes </span>
      </div>
    </div>
    <div>
      {{EXTRA}}
    </div>
  </div>
</div>
{{/EXTRA}}
